php_value short_open_tag 1
php_value upload_max_filesize 30M

RewriteEngine On
RewriteCond $1 !^(index\.php|lib|install|latest|data|upload|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.php/$1 [L]

# ssl 적용시 아래 # 제거해주세요.
#RewriteCond %{HTTPS} !=on
#RewriteCond $1 !^(upload|robots\.txt|sitemap\.xml)
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]